<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="container">

    <div class="navbar-brand">
      <%= link_to root_path, class: 'navbar-item' do %>
        <%=image_tag 'receitas.png', width: 112 %>
      <% end %>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <%= link_to 'Receitas',recipes_path ,  class: 'navbar-item is-info' %>
        <%= link_to 'Categorias', categories_path,  class: 'navbar-item is-info' %>
      </div>
      <div class="navbar-end">
        <%= link_to root_path, class: "navbar-item is-info" do %>
              <span class="icon is-small is-left">
                  <i class="fas fa-search"></i>
              </span>
        <% end %>
        <div class="navbar-item">
          <div class="buttons">
            <%= link_to root_path, class: "button is-info" do %>
              <span class="icon is-small is-left">
                  <i class="far fa-user"></i>
              </span>
              <span>Perfil</span>
            <% end %>
            <%= link_to 'Sair', destroy_user_session_url, method: :delete, class: "button is-danger" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>