<%= form_with(model: category, local: true) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label for="" class="label">
      Imagem
    </label>
    <div class="file has-name">
      <label class="file-label">
        <%= form.file_field :image, class: 'file-input' %>
        <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-upload"></i>
          </span>
          <span class="file-label">
            <%= form.label :image ,'Escolha uma imagem' , class: 'label'%>
          </span>
        </span>
        <span class="file-name">
        </span>
      </label>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.label :name , class: 'label'%>
      <%= form.text_field :name, class: 'input' %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit 'Salvar', class: 'button is-success is-outlined' %>
  </div>
<% end %>
