<p id="notice"><%= notice %></p>

<div class="title">
  <h1>Categories</h1>
</div>

<table class="table category-table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to category do %>
            <i class="far fa-eye blue"></i>
          <% end%>
        </td>
        <td><%= link_to edit_category_path(category) do %>
            <i class="fas fa-pen green"></i>
          <% end %>
        </td>
        <td><%= link_to category, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fas fa-times red"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Adicionar Categoria', new_category_path, class: 'button is-danger is-outlined' %>
